@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

.mess {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.loading-anim > hr {
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  animation: loader 3s infinite linear;
}

.fadeIn {
  animation: fadeIn 1.5s;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***  dark theme styles ****/

.main#dark {
  background-color: #131314;
  color: #ffffff;
}

div#dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

#dark.dark-hover:hover {
  background-color: #232323;
}
